.row
  .col-sm-6.mb-3
    .card
      .card-body
        %h5.card-title Recent Users
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %td ID
                %td Email
                %td
            %tbody
              - @recent_users.each do |user|
                %tr
                  %td= user.id
                  %td= user.email
                  %td= link_to "View", admin_user_path(user)
      .card-footer
        = link_to 'See All Users', admin_users_path, class: 'card-link'

  .col-sm-6.mb-3
    .card
      .card-body
        %h5.card-title Recent Posts
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %td ID
                %td Content
                %td
            %tbody
              - @recent_posts.each do |post|
                %tr
                  %td= post.id
                  %td= post.content.truncate(40)
                  %td= link_to "View", admin_post_path(post)
      .card-footer
        = link_to 'See All Posts', admin_posts_path, class: 'card-link'            
