- if admin_user_signed_in?
  %li.nav-item{class: "#{current_page?(admin_users_path) ? 'active' : ''}"}
    = link_to "Users", admin_users_path, class: 'nav-link'
  %li.nav-item{class: "#{current_page?(admin_posts_path) ? 'active' : ''}"}
    = link_to "Posts", admin_posts_path, class: 'nav-link'  
  %li.nav-item{class: "#{current_page?(admin_reports_path) ? 'active' : ''}"}
    = link_to "Reports", admin_reports_path, class: 'nav-link'
  %li.nav-item
    = link_to "Sidekiq", '/sidekiq', class: 'nav-link', target: '_blank'
  %li.nav-item
    = link_to "Heroku", "https://dashboard.heroku.com/", class: 'nav-link', target: "_blank"