- if admin_user_signed_in?
  %li.nav-item{class: "#{params[:controller] == 'admin/users' ? 'active' : ''}"}
    = link_to "Users", admin_users_path, class: 'nav-link'
  %li.nav-item{class: "#{params[:controller] == 'admin/posts' ? 'active' : ''}"}
    = link_to "Posts", admin_posts_path, class: 'nav-link'  
  %li.nav-item{class: "#{params[:controller] == 'admin/responses' ? 'active' : ''}"}
    = link_to "Responses", admin_responses_path, class: 'nav-link'  
  %li.nav-item{class: "#{params[:controller] == 'admin/tags' ? 'active' : ''}"}
    = link_to "Tags", admin_tags_path, class: 'nav-link'          
  %li.nav-item{class: "#{params[:controller] == 'admin/reports' ? 'active' : ''}"}
    = link_to "Reports", admin_reports_path, class: 'nav-link'
  %li.nav-item
    = link_to "Sidekiq", '/sidekiq', class: 'nav-link', target: '_blank'
  %li.nav-item
    = link_to "Heroku", "https://dashboard.heroku.com/", class: 'nav-link', target: "_blank"