- if response.errors.any?
  #error_explanation
    %h2= "#{pluralize(response.errors.count, "error")} prohibited this response from being saved:"
    %ul
      - response.errors.full_messages.each do |message|
        %li= message

.form-group
  = f.label :content, class: ''
  = f.text_area :content, class: 'form-control'
.form-group
  = f.label :upvotes, class: ''
  = f.number_field :cached_votes_up, class: 'form-control'
.form-group
  = f.label :user_id, class: ''
  = f.number_field :user_id, class: 'form-control'
.form-group
  = f.label :status, class: ''
  = f.select :status, Response.statuses.keys.to_a, {}, class: 'form-control'   
