%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Responses", admin_responses_path
  %li.breadcrumb-item.active Edit Response

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Posts", admin_posts_path
  %li.breadcrumb-item
    = link_to "Post Details", admin_post_path(@response.post)
  %li.breadcrumb-item.active Edit Response

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Editing Response #{@response.id}
      .actions
        = link_to 'Show', [:admin, @response.post, @response], class: 'btn btn-light'

    %hr
    = form_for [:admin, @response.post, @response] do |f|
      .row.justify-content-center
        .col-sm-6    
          = render 'form_fields', f: f, response: @response
          %hr
          .actions
            = f.submit 'Update', class: 'btn btn-primary btn-block', data: {disable_with: 'Updating...'}
