.card
  .d-flex.p-3.justify-content-between.border.border-top-0.border-right-0.border-left-0
    %h3.card-title Responses

  .d-flex.justify-content-center.search.my-3
    .col-md-6
      = form_tag admin_responses_path, method: :get do
        = text_field_tag 'search_query', @search_query, class: 'form-control', placeholder: "Search..."

  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %td ID
          %td Post
          %td Status
          %td Upvotes
          %td Reports
          %td Content
          %td Author
          %td
          %td
      %tbody
        - @responses.each do |response|
          %tr
            %td= link_to response.id, admin_post_response_path(response.post, response)
            %td= link_to response.post.id, admin_post_path(response.post)
            %td= response.status.humanize
            %td= response.cached_votes_up
            %td= response.reports.count
            %td= response.content.truncate(35)
            %td= link_to response.author.id, admin_user_path(response.author)
            %td= link_to "Edit", edit_admin_post_response_path(response.post, response)
            %td= link_to "Delete", admin_post_response_path(response.post, response), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger'

  .d-flex.justify-content-center
    = paginate @responses, window: 1
