%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Responses", admin_responses_path
  %li.breadcrumb-item.active Response Details

%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Posts", admin_posts_path
  %li.breadcrumb-item
    = link_to "Post Details", admin_post_path(@response.post)
  %li.breadcrumb-item.active Response Details    

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Response Details
      .actions
        = link_to 'Edit', edit_admin_post_response_path(@response.post, @response), class: 'btn btn-light'
        = link_to 'Delete', admin_post_response_path(@response.post, @response), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Response id:
      .col-sm-10
        .text-left
          #{@response.id}
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Author:
      .col-sm-10
        .text-left
          #{link_to @response.author.id, admin_user_path(@response.author)}            
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Upvotes:
      .col-sm-10
        .text-left
          #{@response.cached_votes_up}           
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Content:
      .col-sm-10
        .text-left
          #{@response.formatted_content}   
    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Post:
      .col-sm-10
        .text-left
          #{@response.post.formatted_content} 

    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Reports
      .col-sm-10
        - if @reports.total_count > 0
          .table-responsive
            %table.table.table-hover.tours-table
              %thead
                %tr
                  %td ID
                  %td Reason
                  %td Description
                  %td Status
                  %td
                  %td
              %tbody
                - @reports.each do |report|
                  %tr
                    %td= link_to report.id, admin_report_path(report)
                    %td= report.reason
                    %td= report.description.truncate(50)
                    %td= report.status
                    %td= link_to "Edit", edit_admin_report_path(report)
                    %td= link_to "Delete", admin_report_path(report), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger'
          = paginate @reports, window: 1, param_name: :reports_page
        - else
          None                  
