- if post.errors.any?
  #error_explanation
    %h2= "#{pluralize(post.errors.count, "error")} prohibited this post from being saved:"
    %ul
      - post.errors.full_messages.each do |message|
        %li= message

.form-group
  = f.label :content, class: ''
  = f.text_area :content, class: 'form-control'
.form-group
  = f.label :upvotes, class: ''
  = f.number_field :cached_votes_up, class: 'form-control'
.form-group
  = f.label :responses_count, class: ''
  = f.number_field :responses_count, class: 'form-control'
.form-group
  = f.label :user_id, class: ''
  = f.number_field :user_id, class: 'form-control'
.form-group
  = f.label :tags, class: ''
  = f.text_area :tag_list, class: 'form-control'
  %small.form-text.text-muted Tags are separated by a comma.