.card
  .d-flex.p-3.justify-content-between.border.border-top-0.border-right-0.border-left-0
    %h3.card-title Posts

  .d-flex.justify-content-center.search.my-3
    .col-md-6
      = form_tag admin_posts_path, method: :get do
        = text_field_tag 'search_query', @search_query, class: 'form-control', placeholder: "Search..."

  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %td ID
          %td Upvotes
          %td Responses
          %td Reports
          %td Tags
          %td Author
          %td Author active
          %td
          %td
      %tbody
        - @posts.each do |post|
          %tr
            %td= link_to post.id, admin_post_path(post)
            %td= post.cached_votes_up
            %td= post.responses_count
            %td= post.reports.count
            %td= post.tag_list
            %td= link_to post.author.id, admin_user_path(post.author)
            %td= post.author_active?
            %td= link_to "Edit", edit_admin_post_path(post)
            %td= link_to "Delete", admin_post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger'

  .d-flex.justify-content-center
    = paginate @posts, window: 1
