%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Posts", admin_posts_path
  %li.breadcrumb-item.active Post Details

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Post Details
      .actions
        = link_to 'Edit', edit_admin_post_path(@post), class: 'btn btn-light'
        = link_to 'Delete Post', admin_post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Post id:
      .col-sm-10
        .text-left
          #{@post.id}
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Status:
      .col-sm-10
        .text-left
          #{@post.status.humanize}          
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Author:
      .col-sm-10
        .text-left
          #{link_to @post.author.id, admin_user_path(@post.author)}  
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Author active in last week:
      .col-sm-10
        .text-left
          #{@post.author_active?}                     
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Upvotes:
      .col-sm-10
        .text-left
          #{@post.cached_votes_up}
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Responses Count:
      .col-sm-10
        .text-left
          #{@post.responses_count}  
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Tags:
      .col-sm-10
        .text-left
          #{@post.tag_list}                            
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Content:
      .col-sm-10
        .text-left
          #{@post.formatted_content}  
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Top Response:
      .col-sm-10
        .text-left
          #{@post.top_response.try(:formatted_content)}                                                                         

    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Responses
      .col-sm-10
        - if @responses.total_count > 0
          .table-responsive
            %table.table.table-hover.tours-table
              %thead
                %tr
                  %td ID
                  %td Content
                  %td Upvotes
                  %td
                  %td
              %tbody
                - @responses.each do |response|
                  %tr
                    %td= link_to response.id, admin_post_response_path(response.post, response)
                    %td= response.content.truncate(50)
                    %td= response.cached_votes_up
                    %td= link_to "Edit", edit_admin_post_response_path(response.post, response)
                    %td= link_to "Delete", admin_post_response_path(response.post, response), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger'
          = paginate @responses, window: 1, param_name: :responses_page
        - else
          None   

    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Reports
      .col-sm-10
        - if @reports.total_count > 0
          .table-responsive
            %table.table.table-hover.tours-table
              %thead
                %tr
                  %td ID
                  %td Reason
                  %td Description
                  %td Status
                  %td
                  %td
              %tbody
                - @reports.each do |report|
                  %tr
                    %td= link_to report.id, admin_report_path(report)
                    %td= report.reason
                    %td= report.description.truncate(50)
                    %td= report.status
                    %td= link_to "Edit", edit_admin_report_path(report)
                    %td= link_to "Delete", admin_report_path(report), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger'
          = paginate @reports, window: 1, param_name: :reports_page
        - else
          None                                        
