- if report.errors.any?
  #error_explanation
    %h2= "#{pluralize(report.errors.count, "error")} prohibited this report from being saved:"
    %ul
      - report.errors.full_messages.each do |message|
        %li= message

.form-group
  = f.label :status, class: ''
  = f.select :status, Report.statuses.keys.to_a, {}, class: 'form-control'
