%ol.breadcrumb
  %li.breadcrumb-item
    = link_to "Reports", admin_reports_path
  %li.breadcrumb-item.active Report Details

.card
  .card-body
    .d-flex.justify-content-between
      %h3 Report Details
      .actions
        = link_to 'Edit', edit_admin_report_path(@report), class: 'btn btn-light'
        = link_to 'Delete', admin_report_path(@report), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Report id:
      .col-sm-10
        .text-left
          #{@report.id}
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Reported by:
      .col-sm-10
        .text-left
          #{link_to @report.user.id, admin_user_path(@report.user)}
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Status:
      .col-sm-10
        .text-left
          #{@report.status}           
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Reason:
      .col-sm-10
        .text-left
          #{@report.reason}  
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Description:
      .col-sm-10
        .text-left
          #{@report.description.blank? ? 'None' : @report.description}
    %hr
    .row.mb-3
      .col-sm-2.text-sm-right
        %strong Reported:
      .col-sm-10
        .text-left
          #{@report.reportable_type} (#{link_to @report.reportable_id, @report.reportable_type == 'Post' ? admin_post_path(@report.reportable) : admin_post_response_path(@report.reportable.post, @report.reportable)})   
        .text-left
          #{@report.reportable.formatted_content}                    
