!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, shrink-to-fit=no"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= content_for?(:title) ? yield(:title) : 'Disagree with Me'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Seek out and provide opposing viewpoints'}"}

    -# Open Graph Tags
    %meta{property: "og:image", content: 'https://www.disagreewithme.app/apple-icon.png'}
    %meta{name: 'og:title', content: "#{content_for?(:title) ? yield(:title) : 'Disagree with Me'}"}
    %meta{property: "og:description", content: "#{content_for?(:description) ? yield(:description) : 'Seek out and provide opposing viewpoints'}"}
    %meta{property: "og:url", content: "#{content_for?(:url) ? yield(:url) : 'https://www.disagreewithme.app'}"}
    %meta{property: "og:site_name", content: "Disagree with Me"}
    // Twitter Card Tags
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@disagreeapp"}

    %link{:href => "/apple-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/apple-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/apple-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/apple-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/apple-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/android-icon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "#4A4A4A", :name => "msapplication-TileColor"}/
    %meta{:content => "/ms-icon-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "#4A4A4A", :name => "theme-color"}/

    = csrf_meta_tags
    = csp_meta_tag

    = javascript_pack_tag 'application'

    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@blueprintjs/core@^3.0.0/lib/css/blueprint.min.css'
    = stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/@blueprintjs/icons@^3.0.0/lib/css/blueprint-icons.min.css'

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'

    = mixpanel_javascript
    = drift_javascript

    = yield :head

  %body.bg-light
    = yield

    = yield :javascripts
